<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="3210"
    android:versionName="3.2.1">

    <queries>
        <intent>
            <action android:name="de.egi.geofence.geozone.GETPLUGINS" />
        </intent>
        <package android:name="net.dinglisch.android.taskerm" />
    </queries>


    <uses-permission android:name="de.egi.geofence.geozone.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" tools:node="remove"/>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- New config: https://developers.google.com/cloud-messaging/android/client#get-config -->
    <!-- GCM requires a Google account. -->
    <!-- uses-permission android:name="android.permission.GET_ACCOUNTS" /-->

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission  android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_green"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:installLocation="internalOnly"
        android:name="EgiGeoZoneApplication"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainEgiGeoZone"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".fences.GeoFence"  android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainEgiGeoZone"/>
        </activity>

        <activity android:name="de.egi.geofence.geozone.Info" android:label="@string/menu_item_info" android:theme="@style/StyledDialog"/>
        <activity
            android:name=".TechInfo"
            android:label="@string/menu_item_tech_info"
            android:theme="@style/StyledDialog" />

        <activity android:name="de.egi.geofence.geozone.Privacy" android:label="@string/menu_item_privacy" android:theme="@style/StyledDialog"/>
        <activity android:name="de.egi.geofence.geozone.Help" android:label="@string/menu_item_help" android:theme="@style/StyledDialog"/>

        <activity android:name="de.egi.geofence.geozone.Karte"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="de.egi.geofence.geozone.KarteAll"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="de.egi.geofence.geozone.Debug" android:theme="@style/StyledDialog" android:label="@string/app_debug"/>

        <activity android:name="de.egi.geofence.geozone.gcm.GcmTokenDialog" android:theme="@style/StyledDialog"/>

        <activity android:name=".plugins.Plugins" android:label="@string/app_plugins"/>

        <activity android:name="de.egi.geofence.geozone.profile.Profiles" android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainEgiGeoZone"/>
        </activity>
        <activity android:name="de.egi.geofence.geozone.profile.ServerProfiles" android:label="@string/server_opt_title" android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainEgiGeoZone"/>
        </activity>
        <activity android:name="de.egi.geofence.geozone.profile.ServerProfile" android:label="@string/server_opt_title" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="de.egi.geofence.geozone.profile.MailProfiles" android:label="@string/mail_opt_title" android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainEgiGeoZone"/>
        </activity>
        <activity android:name="de.egi.geofence.geozone.profile.MailProfile" android:label="@string/mail_opt_title" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="de.egi.geofence.geozone.profile.MoreProfiles"  android:label="@string/other_opt_title" android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainEgiGeoZone"/>
        </activity>
        <activity android:name="de.egi.geofence.geozone.profile.MoreProfile"  android:label="@string/other_opt_title" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="de.egi.geofence.geozone.profile.RequirementsProfiles"  android:label="@string/other_conditions_title" android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainEgiGeoZone"/>
        </activity>
        <activity android:name="de.egi.geofence.geozone.profile.RequirementsProfile"  android:label="@string/other_conditions_title" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="de.egi.geofence.geozone.InfoReplace" android:theme="@style/StyledDialog" />
        <activity android:name="de.egi.geofence.geozone.Settings" android:label="@string/app_settings" android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainEgiGeoZone"/>
        </activity>
        <activity android:name="de.egi.geofence.geozone.utils.NotificationError" />
        <activity android:name="de.egi.geofence.geozone.utils.NotificationErrorButtons" />
        <activity android:name="de.egi.geofence.geozone.EgiLog" />
        <activity android:name="de.egi.geofence.geozone.GcmLog" />

        <activity android:name=".tracker.TrackingGeneralSettings" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".tracker.TrackingLocalSettings" android:label="@string/app_locationTrackerActivity" android:windowSoftInputMode="stateHidden" />

        <activity android:name=".fences.Accuracy" android:label="@string/app_accuracy" android:windowSoftInputMode="stateVisible"/>

        <activity android:name="de.egi.geofence.geozone.utils.Themes" android:label="Colors" android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.Themes"/>
        </activity>

        <service
            android:name="de.egi.geofence.geozone.geofence.GeofenceReceiverService" android:exported="true" />

        <receiver android:name="de.egi.geofence.geozone.StartupReceiver" android:enabled="true" android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="de.egi.geofence.geozone" />
            </intent-filter>
        </receiver>

        <receiver android:name="de.egi.geofence.geozone.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="de.egi.geofence.geozone.DONOTDISTURB.OK" />
                <action android:name="de.egi.geofence.geozone.DONOTDISTURB.NOK" />
            </intent-filter>
        </receiver>

        <receiver android:name="de.egi.geofence.geozone.geofence.PathsenseGeofenceEventReceiver" />
        <service
            android:name="de.egi.geofence.geozone.geofence.PathsenseGeofenceEventReceiverService" android:exported="true" android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <service android:name=".tracker.TrackingLocationService" android:foregroundServiceType="location"/>
        <service
            android:name="de.egi.geofence.geozone.tracker.TrackingReceiverWorkerService" android:exported="false">
        </service>

        <receiver android:name="de.egi.geofence.geozone.geofence.RetryRequestsInternetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <service
            android:name="de.egi.geofence.geozone.geofence.RetryRequestsInternetReceiverService" android:exported="false">
        </service>
        <service
            android:name=".geofence.RetryJobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">
        </service>
        <!-- Register for Google Maps and enter your API_KEY here -->
        <!-- Produktion -->
        <!-- meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="${MAPS_API_KEY_DEBUG}"/-->
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="${MAPS_API_KEY}"/>

        <!-- Register for Pathsense and enter your CLIENT_ID here -->
        <meta-data
            android:name="com.pathsense.android.sdk.CLIENT_ID"
            android:value="${PATHSENSE_CLIENT_ID}" />

        <!-- Register for Pathsense and enter your API_KEY here -->
        <meta-data
            android:name="com.pathsense.android.sdk.API_KEY"
            android:value="${PATHSENSE_API_KEY}" />

        <provider
            android:name=".utils.ZonesContentProvider"
            android:authorities="de.egi.geofence.geozone.zonesContentProvider"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.egi.geofence.geozone.fileContentProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- [START firebase_service] -->
        <service
            android:name=".gcm.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

    </application>
</manifest>